:root {
    --color-1: #720D5D;
    --color-2: #5D1049;
    --color-3: #4E0D3A;
    --color-4: #E30425;
    --text-color: white;
    --card-height: 98vh;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-1);
    perspective: 100vmax, 50;
}

#blanker {
    width: 1000%;
    height: 1000%;
    padding: 0%;
    margin: -20% -20% 0% 0%;
    border: 0%;
    position: absolute;
    background-color: var(--color-1);
    z-index: 99;
}

#card{
    width: calc(var(--card-height)/2*3.5);
    height: var(--card-height);
    padding: 0%;
    margin: auto;
    margin-top: calc(50vh - var(--card-height)/2);
    background-image: url("assets/card_front.png");
    background-repeat: repeat;
    border-radius: .3%;
}

.infocard {
    background-color: white;
    display: grid;
    text-align: center;
    width: calc(var(--card-height)/2*3.5/3.1);
    font-size: calc(var(--card-height)/2*3.5/3.1/100);
    margin: 0.53762%;
    border: 0%;
    padding: 0%;
    float: left;
    border-radius: 10%;
    box-shadow: calc(var(--card-height)*.01) calc(var(--card-height)*.005) calc(var(--card-height)*.005) var(--color-2);
    display: block
}

.infobutton {
    display: inline-block;
    color: var(--color-3);
    font-size: 500%;
    border: 2px solid var(--color-3);
    border-radius: 9999px;
    padding: 1.5% 3%;
    margin: 0% 0% 3% 0%;
}

.ionicon{
    display: inline;
    font-size: 98%;
    fill: var(--color-2);
    margin: 0%;
    padding: 0%;
    color: var(--color-2);
}

.ionicon:hover{
    fill: var(--color-4)
}

#scroll {
    font-size: 12vh;
    color: var(--color-2);
}